body {
  /*font-family: 'Roboto', sans-serif;*/
  /*background: linear-gradient(to bottom left, #a5cbcc 0%, #52b7cd 100%);*/
}

/*index.html*/
#indexBody {
  /*background: linear-gradient(to top right, #52b7cd 0%, #a5cbcc 100%);*/
  background: radial-gradient(white, #fcfcfc, #f2f2f2);
}


#navbar {
  /*background-color: #52b7cd;*/
  background: linear-gradient(to top right, #52b7cd, #a5cbcc); /* Standard syntax */
  color: white;
  font-family: 'Open Sans', sans-serif;
}

#add {
    display: inline-block;
    width: 100%;
}

#condition-heading {
  text-align: center;
}

.select2-multiple {
    width: 100%;
}

#bottom-nav-bar a {
  background: linear-gradient(to top right, #68c3d2, #a5cbcc); /* Standard syntax */
  color: white;
  /*font-family: 'Open Sans', sans-serif;*/
}

#bottom-nav-bar {
  background: linear-gradient(to top right, #68c3d2, #a5cbcc); /* Standard syntax */
}


/*dashboard styling*/
#dashboardBody {
  /*background: linear-gradient(to top right, #52b7cd 0%, #a5cbcc 100%);*/
  background: radial-gradient(white, #fcfcfc, #f2f2f2);
}

#cards, #add {
  /*background: radial-gradient(#d8f0f3, #c4e8ed, #b0e0e8);*/
}

#profpic {
  /*background: ./images/profpic.jpg 50% 50% no-repeat;*/
  width: 75%;
  /*height: 250px;*/
}

#editname, #saveChanges, #editEmail {
  /*border: 1px;*/
  border-width: 1px;
  border-color: dark-grey;
}
